body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.login-input::placeholder, input.login-input{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  text-indent: 10px;
  font-size: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
  opacity: 1; /* Firefox */
}

